<app-driver-banner></app-driver-banner>
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-1 text-primary text-center">01</h1>
        <h1 class="display-4 text-uppercase text-center mb-5">Welcome To <span class="text-primary">Banger & Co</span></h1>
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
<!--                <video class="w-75 mb-4" src="/assets/img/driver/back.mp4"></video>-->
                <img class="w-75 mb-4" src="/assets/img/driver/about.png" alt="">
                <p><strong>Enjoy the efficient and specialized services of Banger & Co; Sri Lanka's leading rent-a-car company</strong></p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 mb-2">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-2x fa-headset text-secondary"></i>
                    </div>
                    <h4 class="text-uppercase m-0">Sri Lanka's Lowest Price</h4>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-2x fa-car text-secondary"></i>
                    </div>
                    <h4 class="text-light text-uppercase m-0">Car Reservation Anytime</h4>
                </div>
            </div>
            <div class="col-lg-4 mb-2">
                <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                        <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                    </div>
                    <h4 class="text-uppercase m-0">Large Vehicle Fleet</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Banner Start -->
<ng-container *ngIf="!isLoggedIn">
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="bg-banner py-5 px-4 text-center">
                <div class="py-5">
                    <h1 class="text-uppercase text-light mb-4">Special Offer For New Members</h1>
                    <a class="btn btn-primary mt-2 py-3 px-5" routerLink="/register">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<!-- Banner End -->


<!-- Rent A Car Start -->
<app-car-list></app-car-list>

<!-- Banner Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row mx-0">
            <div class="col-lg-6 px-0">
                <div class="px-5 bg-secondary d-flex align-items-center justify-content-between" style="height: 350px;">
                    <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4" src="/assets/img/driver/banner-left.png" alt="">
                    <div class="text-right">
<!--                        <h3 class="text-uppercase text-light mb-3">Want to be driver?</h3>-->
<!--                        <p class="mb-4">Lorem justo sit sit ipsum eos lorem kasd, kasd labore</p>-->
<!--                        <a routerLink="/register" class="btn btn-primary py-2 px-4">Start Now</a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <div class="px-5 bg-dark d-flex align-items-center justify-content-between" style="height: 350px;">
                    <div class="text-left">
                        <h3 class="text-uppercase text-light mb-3">Looking for a car?</h3>
                        <p class="mb-4">We have many Vehicles in our Fleet</p>
                        <a routerLink="/driver/home/car-list" class="btn btn-primary py-2 px-4">Start Now</a>
                    </div>
                    <img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4" src="/assets/img/driver/banner-right.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<app-contact-us></app-contact-us>

