.app-body{
    height: 100%;

    /* Center and scale the image nicely */
    background: url(../../../assets/img/driver/404_Error.jpg) no-repeat center;
    background-size: 1200px;
}
.img{
    width: 20%;
}