input[type=checkbox] {
  transform: scale(2);
  margin-top: 8%;
}
.addon-name{
  padding-top: 8% !important;
  font-size: 20px;
}
.msg-info {
  margin-left: 13px !important;
  margin-right: 13px;
  font-size: 14px;
  font-weight: bold;
}
.msg{
  margin-left: 13px;
  margin-right: 13px;
  background: #dc414626 !important;
  font-size: 16px;
  color: palevioletred !important;
  font-weight: bold;
}

.chcek{
  width: 50px !important;
  height: 23px !important;;
  margin-left: 17% !important;;
  margin-top: 10px !important;;
}
